* {
  margin: 0;
}

body {
  background-color: rgb(206, 199, 199);
  height: 100vh;
  padding: 8%;
}

main {
  display: grid;
  grid-template: repeat(2,1fr) / repeat(4, 1fr);
  gap: 20px
}

article {
    background-color: white;
}

#article1 {
    grid-area: 1 / 1 / span 1 / span 2;
}

#article3 {
    grid-area: 1 / 4 / span 2 / span 1;
}

#article5 {
    grid-area: 2 / 2 / span 1 / span 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
